---
const { posts } = Astro.props;
---

<section class="th-blog-wrapper space-top space-extra-bottom" aria-label="Artigos do blog">
	<div class="container">
		<div class="row gy-30 justify-content-center">
			{
				posts.map((post) => (
					<div class="col-lg-4 col-md-6">
						<article class="blog-card">
							<div class="blog-img">
								<a href={post.href}>
									<img src={post.imageUrl} alt={post.title} />
								</a>
								<div class="date">
									<time datetime={post.datePublished}>
										<a href="/blog">{post.dateLabel}</a>
									</time>
								</div>
							</div>
							<div class="blog-content">
								<div class="blog-meta">
									<a href="/blog">
										<i class="fa-solid fa-user" aria-hidden="true"></i> {post.author}
									</a>
								</div>
								<h3 class="box-title">
									<a href={post.href}>{post.title}</a>
								</h3>
								<p class="box-text">{post.excerpt}</p>
								<a href={post.href} class="th-btn pill style3">
									Ler artigo
								</a>
							</div>
						</article>
					</div>
				))
			}
		</div>
	</div>
</section>
